/* Custome CSS goes here */
.jumbotron{
    padding-top: 0px;
    background-color: #FFF
}
.main{
    padding: 2% 5% 5% 5%;
    text-align: justify;
}
.card{
    background-color: #fee151;
}
.card .fa, .card .fab, .card .fas{
    font-size: 30px;
    float: left;
}
.service-info{
    padding-left: 40px;
}